.about-us {
    position: relative;

    padding-top: 120px;
    padding-bottom: 80px;
}

@media (max-width: 576px) {
    .about-us {
        padding-top: 80px;
    }
}

.about-us__content {
    z-index: 1;
}

.about-us__title {
    max-width: 750px;
    text-align: center;
}

.about-us__cards-block {
    margin-top: 40px;
}

@media (max-width: 576px) {
    .about-us__cards-block {
        margin-top: 24px;
    }
}

.about-us__feature {
    margin-top: 40px;
}

.about-us__feature-descr {
    margin-top: 16px;
}

.about-us__feature-title {
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

@media (max-width: 576px) {
    .about-us__feature-title {
        white-space: pre-line;
    }
}

.about-us__work-with {
    margin-top: 240px;
}

@media (max-width: 576px) {
    .about-us__work-with {
        margin-top: 160px;
    }
}

.about-us__description {
    margin-top: 48px;
    max-width: 440px;
}

.about-us__description-title {
    max-width: 491px;
}

@media (max-width: 1199px) {
    .about-us__description {
        max-width: unset;
        margin-top: 24px;
    }

    .about-us__description-title {
        max-width: unset;
    }
}

.about-us__client {
    max-width: 800px;
}

@media (max-width: 1439px) {
    .about-us__client {
        margin-left: 20px;
    }
}
@media (max-width: 1199px) {
    .about-us__client {
        margin-left: 0px;
        max-width: unset;
    }
}

.about-us__client-title {
    margin-top: 96px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #bdbdbd;
}

@media (max-width: 576px) {
    .about-us__client-title {
        margin-top: 48px;

        text-align: center;
    }
}

.about-us__client-card-mt {
    margin-top: 56px;
}

.about-us__blue-round,
.about-us__blue-hor,
.about-us__violet-hor,
.about-us__orange-right,
.about-us__green-right,
.blue-right {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    position: absolute;
}

.about-us__blue-hor {
    background-image: url('../../../circles/light/blue-hor.png');
    width: 906px;
    height: 906px;

    top: 0;
    left: 7%;
}

.about-us__violet-hor {
    background-image: url('../../../circles/light/violet-hor.png');
    width: 906px;
    height: 906px;

    top: 17%;
    right: -3%;
}

.about-us__orange-right {
    background-image: url('../../../circles/light/orange-right.png');
    width: 906px;
    height: 906px;

    top: 25%;
    right: 20%;
}

.about-us__green-right {
    background-image: url('../../../circles/light/green-right.png');
    width: 906px;
    height: 906px;

    top: 42%;
    left: -7%;
}

.about-us__blue-round {
    background-image: url('../../../circles/light/blue-round.png');
    width: 906px;
    height: 1200px;

    bottom: -35%;
    left: 42%;
}

.blue-right {
    display: none;

    background-image: url('../../../circles/light/blue-right.png');
    width: 906px;
    height: 1200px;
}

@media (max-width: 576px) {
    .about-us__blue-hor {
        top: -3%;
        left: -25%;
    }

    .about-us__violet-hor {
        top: 10%;
        right: unset;
        left: -30%;
    }

    .about-us__orange-right {
        top: 45%;
        right: unset;
        left: -25%;
    }

    .about-us__green-right {
        top: 28%;
        left: unset;
        right: -25%;
    }

    .blue-right {
        display: block;

        top: 60%;
        left: -30%;
    }

    .about-us__blue-round {
        bottom: -17%;
        left: -60%;
    }
}
