.about-us {
    position: relative;

    padding-top: 120px;
    padding-bottom: 80px;
}

.about-us__content {
    z-index: 1;
}

.about-us__title {
    max-width: 750px;
    text-align: center;
}

.about-us__cards-block {
    margin-top: 40px;
}

@media (max-width: 576px) {
    .about-us__cards-block {
        margin-top: 24px;
    }
}

.about-us--card-mt-md {
    margin-top: 40px;
}

.about-us--mt-sm {
    margin-top: 16px;
}

.about-us--letterspacing-lg {
    letter-spacing: 0.4px;
}

.about-us__work-with {
    margin-top: 240px;
}

@media (max-width: 576px) {
    .about-us__work-with {
        margin-top: 160px;
    }
}

.about-us__description {
    margin-top: 48px;
    max-width: 440px;
}

.about-us__description-title {
    max-width: 491px;
}

.about-us__client {
    max-width: 800px;
}

.about-us__client-title {
    margin-top: 96px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #bdbdbd;
}

.about-us__client-card-mt {
    margin-top: 56px;
}
