.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.658);
}

.hidden {
    display: none;
}

.main-block {
    padding-left: 256px;
    padding-right: 264px;

    overflow: hidden;
}

@media (max-width: 1800px) {
    .main-block {
        padding-left: 156px;
        padding-right: 156px;
    }
}

@media (max-width: 1730px) {
    .main-block {
        padding-left: 56px;
        padding-right: 56px;
    }
}

@media (max-width: 375px) {
    .main-block {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 320px) {
    .main-block {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.showon-sm {
    display: none;
}

@media (max-width: 576px) {
    .hideon-sm {
        display: none;
    }
    .showon-sm {
        display: block;
    }
}

@media (max-width: 1199px) {
    .hideon-xl {
        display: none;
    }
}

.fade-10 {
    -webkit-animation: fade 10s infinite;
    animation: fade 10s infinite;
    -moz-animation: fade 10s infinite;
    -o-animation: fade 10s infinite;
}

.fade-15 {
    -webkit-animation: fade 15s infinite;
    animation: fade 15s infinite;
    -moz-animation: fade 15s infinite;
    -o-animation: fade 15s infinite;
}

.fade-20 {
    -webkit-animation: fade 20s infinite;
    animation: fade 20s infinite;
    -moz-animation: fade 20s infinite;
    -o-animation: fade 20s infinite;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
@-o-keyframes fade {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
