include ../../input/input.pug
include ../../with-units/with-units.pug
include ../../select/select.pug
include ../../button/button.pug
include ../../checkbox/checkbox.pug

.callb-form.row.no-gutter.justify-content-center 
    h2.callb-form__title Обратный звонок
    h5.callb-form__description 
        | #{"Оставьте свой номер телефона и менеджер перезвонит вам \nв течение "}
        i.text--green 7 минут
    .js-close-fancy-button.callb-form__button.hidden 
        +button({label: "хорошо, спасибо", theme: "green", type: "close-fancy", size: "lg"})
    form#form-phoneback.callb-form__form.row.no-gutter.justify-content-center(
        action='#'
    )
        .col-12.col-sm-auto.px-0.js-inputs
            .callb-form__item
                +input({theme: "dark", placeholder: "имя", check: "validate[required]", name: "fullName"})
            .callb-form__item
                +input({theme: "dark", placeholder: "номер телефона", type: "phone", check: "validate[required]", name: "phone"})
            .callb-form__item
                +select({name: 'phoneBack', check: "validate[required]", placeholder: "время для звонка", options: ["09 - 10", "10 - 11"]})
            .callb-form__button
                +button({label: "рассчитать стоимость", theme: "green", type: "submit", size: "lg"})
        .callb-form__checkbox.js-agreement
            +checkbox({checked: true, label: "Нажимая на кнопку «Заказать доставку», я соглашаюсь с условиями обработки персональных данных", theme: "light", check: "validate[minCheckbox[1]]", name: 'agreement[]'})
