mixin diolog(props)
    - const { id } = props;

    .diolog(style='display: none', id=id)
        .diolog__content.col-12.px-0
            block

        .callb__blue-round.fade-20
        .callb__violet-left.fade-15
        .callb__violet-right.fade-10
