mixin carried-item(props)
    - const { icon, height = "md" } = props;
    - const heightStyle = ` carried-item--height-${height}`;

    div(
        class=` carried-item row no-gutters align-items-sm-center align-items-start justify-content-center${heightStyle}`
    )
        .col-auto.px-0
            .carried-item__icon-block.d-flex.justify-content-center
                img.carried-item__icon(src=`/icons/${icon}`)
            if (block)
                .carried-item__text-block
                    block
