include ../../input/input.pug

.callb-form.row.no-gutter.justify-content-center 
    h2.callb-form__title Обратный звонок
    h5.callb-form__description 
        | #{"Оставьте свой номер телефона и менеджер перезвонит вам в течение "}
        i.text--green 7 минут
    form#form-callback.callb-form__form 
        .callb-form__item
            +input({theme: "dark", placeholder: "имя", check: "validate[required]", name: "fullName"})
        .callb-form__item
            +input({theme: "dark", placeholder: "номер телефона", type: "phone", check: "validate[required]", name: "phone"})
