.card-numbered {
    background: #7370ff;
    color: #ffffff;
}

.card-numbered.card-numbered--sm {
    min-width: 240px;
    min-height: 120px;

    border-radius: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.card-numbered.card-numbered--sm .card-numbered__text {
    max-width: 134px;
    text-align: center;
    letter-spacing: 0.2px;
}

.card-numbered.card-numbered--sm .card-numbered__number {
    position: absolute;

    width: 48px;
    height: 48px;

    top: -24px;
    left: 24px;

    background-color: #ffffff;

    border-radius: 50%;
    border: solid 2px #7370ff;

    color: #7370ff;
}

.card-numbered.card-numbered--md {
    min-width: 440px;
    max-width: 440px;

    padding: 44px 48px 40px 44px;

    border-radius: 16px;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

@media (max-width: 576px) {
    .card-numbered.card-numbered--md {
        min-width: 343px;
    }
}

@media (max-width: 320px) {
    .card-numbered.card-numbered--md {
        min-width: unset;
    }
}

.card-numbered.card-numbered--md .card-numbered__text {
    max-width: 348px;
    letter-spacing: 0.1px;
    white-space: pre-line;
}

@media (max-width: 576px) {
    .card-numbered.card-numbered--md .card-numbered__text {
        max-width: 263px;

        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        white-space: pre-line;
    }
}

.card-numbered.card-numbered--md .card-numbered__number {
    position: absolute;

    width: 64px;
    height: 64px;

    top: -32px;
    left: 24px;

    background-color: #ffffff;

    border-radius: 50%;
    border: solid 4px #7370ff;

    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #7370ff;
}
