@font-face {
    font-family: 'TT Travels';
    src: url('TTTravels-Regular.eot');
    src: url('./TTTravels-Regular.woff2') format('woff2'),
        url('./TTTravels-Regular.woff') format('woff'),
        url('./TTTravels-Regular.ttf') format('truetype'),
        url('./TTTravels-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels Bold';
    src: url('TTTravels-Bold.eot');
    src: url('./TTTravels-Bold.woff2') format('woff2'),
        url('./TTTravels-Bold.woff') format('woff'),
        url('./TTTravels-Bold.ttf') format('truetype'),
        url('./TTTravels-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels Medium';
    src: url('TTTravels-Medium.eot');
    src: url('./TTTravels-Medium.woff2') format('woff2'),
        url('./TTTravels-Medium.woff') format('woff'),
        url('./TTTravels-Medium.ttf') format('truetype'),
        url('./TTTravels-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #111111;
}

h1 {
    font-family: 'TT Travels Medium', Arial, sans-serif;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    margin: 0;
}

@media (max-width: 575px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.5px;
    }
}

h3 {
    font-family: 'TT Travels Medium', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

h4 {
    font-family: 'TT Travels Medium', Arial, sans-serif;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

@media (max-width: 575px) {
    h4 {
        font-size: 16px;
        line-height: 24px;
    }
}

h5 {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

@media (max-width: 575px) {
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.text--blue {
    color: #7370ff;
    font-style: normal;
}

.text--green {
    color: #6dfe3b;
    font-style: normal;
}
