article.main-block.row.no-gutters
    header.col-12
    section.col-12 
        h1 
            | Доставка любых грузов из Китая в Россию
            i.text--blue #{" от 10 дней"}
    section.col-12 
        h6 А также услуги по поиску товара или поставщиков. Таможенная очистка и сертификация, выкуп товара, выкуп товаров с торговых площадок.
    section.col-12 
    section.col-12 
