article.delivery.main-block.row.no-gutters
    section.delivery__block.col-12
        h1.delivery__title
            | #{"Закажите доставку сейчас и получите "}
            i.text--blue скидку 10%
        .delivery__form-block 
            include ../../forms/delivery-form/delivery-form.pug
