mixin ticker(props)
    - const { text, width = 250 } = props;

    .ticker-wrap(style=`padding-left: ${width}px;`)
        .ticker(style=`padding-right: ${width}px;`)
            .ticker__item #{text}
