include ../diolog/diolog.pug

article.row.no-gutters
    section.col-12
        include ./who-we-are/who-we-are.pug
    section.col-12
        include ./about-us/about-us.pug
    section.col-12
        include ./what-we-can/what-we-can.pug
    section.col-12
        include ./why-we/why-we.pug
    section.col-12
        include ./delivery/delivery.pug

    +diolog({id:"phoneback"})
        include ../forms/phoneback-form/phoneback-form.pug
