.input {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    padding: 20px 32px;

    font-family: 'TT Travels Medium', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    border: none;
    border-radius: 8px;
}

.input.input--theme-light {
    color: #111111;
    background: rgba(255, 255, 255, 0.5);

    border: 1px solid transparent;
}

.input.input--theme-light:hover {
    background: rgba(255, 255, 255, 0.65);
}

.input.input--theme-light:focus {
    background: rgba(255, 255, 255, 0.65);
    outline: none;
}

.input--theme-light.input::placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
}
.input--theme-light.input::-webkit-input-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
}
.input--theme-light.input::-moz-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
}
.input--theme-light.input::-ms-input-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
}

.input.input--theme-dark {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);

    min-width: 320px;
    max-width: 320px;

    border: 1px solid transparent;
}

@media (max-width: 576px) {
    .input.input--theme-dark {
        width: 100%;
        min-width: unset;
    }
}

.input.input--theme-dark:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.input.input--theme-dark:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}
.input.input--theme-dark::-webkit-input-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffda;
}
.input.input--theme-dark::-moz-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffda;
}
.input.input--theme-dark::-ms-input-placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffda;
}
.input.input--theme-dark::placeholder {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffffda;
}



.hidden.formError+.input.input--theme-dark {
    border: 1px solid #FE327B;
}
.hidden.formError+.input.input--theme-light {
    border: 1px solid #F45F94;
}