include ../../input/input.pug
include ../../button/button.pug
include ../../checkbox/checkbox.pug

form#form-delivery.row.no-gutters.justify-content-between(action='#')
    .row.no-gutters.justify-content-between.delivery-form__input-list
        .col-auto.delivery-form__item 
            +input({placeholder: "имя", check: "validate[required]"})
        .col-auto.delivery-form__item 
            +input({placeholder: "номер телефона", check: "validate[required]"})
        .col-auto.delivery-form__item 
            +input({placeholder: "город получателя", check: "validate[required]"})
        .col-auto.delivery-form__item 
            +input({placeholder: "описание груза", check: "validate[required]"})
    .col-auto.delivery-form__button 
        +button({label: "заказать доставку", type: "submit"})
    .col-auto.delivery-form__agreement
        +checkbox({label: "Нажимая на кнопку «Заказать доставку», я соглашаюсь с условиями обработки персональных данных", check: "validate[minCheckbox[1]]", name: 'agreement[]'})
