include ../../input/input.pug
include ../../button/button.pug

form.row.no-gutters.justify-content-between
    .col-auto.delivery-form__item 
        +input({placeholder: "имя"})
    .col-auto.delivery-form__item 
        +input({placeholder: "номер телефона"})
    .col-auto.delivery-form__item 
        +input({placeholder: "город получателя"})
    .col-auto.delivery-form__item 
        +input({placeholder: "описание груза"})
