.text-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;

    padding: 0;
}

.text-button:focus {
    outline: none;
}

.text-button__label {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text-button.text-button--default .text-button__label {
    font-weight: 500;
    font-size: 14px;
    color: #111111;
}

.text-button.text-button--default:hover .text-button__label {
    color: #7370ff;
}

.text-button.text-button--default:focus .text-button__label {
    color: #6c6aec;
}

.text-button.text-button--underlined .text-button__label {
    font-weight: 600;
    font-size: 16px;
    color: #7370ff;
}

.text-button.text-button--underlined .text-button__label:after {
    display: block;
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    border-bottom: 2px dotted #7370ff;

    width: 100%;
}

.text-button.text-button--underlined:hover .text-button__label {
    color: #817eff;
}

.text-button.text-button--underlined:hover .text-button__label:after {
    display: none;
}

.text-button.text-button--underlined:focus .text-button__label {
    color: #6c6aec;
}

.text-button.text-button--underlined:focus .text-button__label:after {
    display: none;
}
