.delivery {
    padding-top: 120px;
    padding-bottom: 120px;

    position: relative;
    background-image: url(/backgrounds/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    overflow: hidden;
}

.delivery__block {
    z-index: 2;
}

@media (max-width: 1199px) {
    .delivery {
        padding-bottom: 0px;
    }

    .delivery__block-off {
        width: 100%;
        height: 500px;

        overflow: hidden;
        z-index: 1;
    }
}

@media (max-width: 768px) {
    .delivery__block-off {
        overflow: unset;
    }
}

@media (max-width: 576px) {
    .delivery__block-off {
        height: 380px;
    }
}

@media (max-width: 576px) {
    .delivery {
        padding-top: 80px;
    }
}

.delivery__title {
    max-width: 588px;
}

@media (max-width: 1199px) {
    .delivery__title {
        max-width: 100%;
    }
}

.delivery__form-block {
    margin-top: 16px;
    max-width: 723px;
}

@media (max-width: 576px) {
    .delivery__form-block {
        margin-top: 24px;
    }
}

.delivery__emblem {
    position: absolute;

    top: 70px;
    left: 214px;
    z-index: 4;
}

@media (max-width: 1439px) {
    .delivery__emblem {
        top: 50px;
        left: 100px;
    }
}

@media (max-width: 1199px) {
    .delivery__emblem {
        left: calc(50% - 150px);
    }
}

@media (max-width: 768px) {
    .delivery__emblem {
        left: calc(50% - 150px);
    }
}
@media (max-width: 576px) {
    .delivery__emblem {
        top: 55px;
        left: 18px;
    }
}

.delivery__ticker-line-1 {
    position: absolute;

    z-index: 1;

    left: -236px;
    top: 220px;

    transform: rotate(49.28deg);
}

.delivery__ticker-line-2 {
    position: absolute;

    left: -18px;
    top: 125px;

    z-index: 2;

    transform: rotate(37.62deg);
}

.delivery__ticker-line-3 {
    position: absolute;

    left: -16px;
    top: 150px;

    z-index: 3;

    transform: rotate(57.15deg);
}

.delivery__ticker-line-1 .ticker-wrap .ticker {
    animation-delay: 0s;
}

.delivery__ticker-line-2 .ticker-wrap .ticker {
    animation-delay: 1s;
}

.delivery__ticker-line-3 .ticker-wrap .ticker {
    animation-delay: 2s;
}

@media (max-width: 1439px) {
    .delivery__ticker-line-1 {
        left: -300px;
        top: 220px;
    }

    .delivery__ticker-line-2 {
        left: -120px;
        top: 125px;
    }

    .delivery__ticker-line-3 {
        left: -120px;
        top: 150px;
    }
}

@media (max-width: 1199px) {
    .delivery__ticker-line-1 {
        left: -220px;
    }

    .delivery__ticker-line-2 {
        left: 40px;
        top: 160px;
    }

    .delivery__ticker-line-3 {
        left: 90px;
    }
}

@media (max-width: 768px) {
    .delivery__ticker-line-1 {
        transform: rotate(-21.77deg);

        top: 400px;
        left: -120px;
    }

    .delivery__ticker-line-2 {
        transform: rotate(-37.21deg);
        top: 100px;
        left: -220px;
    }

    .delivery__ticker-line-3 {
        transform: rotate(-15.96deg);
        top: 0px;
        left: -120px;
    }
}

@media (max-width: 576px) {
    .delivery__ticker-line-1 {
        transform: rotate(-21.77deg);

        top: 108px;
        left: -120px;
    }

    .delivery__ticker-line-2 {
        transform: rotate(-37.21deg);
        top: -118px;
        left: -220px;
    }

    .delivery__ticker-line-3 {
        transform: rotate(-15.96deg);
        top: -38px;
    }
}
