.button {
    position: relative;
    min-width: 300px;
    border: none;
}

.button__label {
    font-family: 'TT Travels', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.button:disabled {
    opacity: 0.5;
    cursor: unset;
}

.button--md {
    padding: 20px 54px 20px 55px;
}

.button--blue {
    background: #7370ff;
    color: #ffffff;
}

.button--blue:hover {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        ),
        #7370ff;
}

.button--blue:active {
    background: linear-gradient(
            0deg,
            rgba(43, 48, 62, 0.1),
            rgba(43, 48, 62, 0.1)
        ),
        #7370ff;
    outline: none;
}

.button--green {
    background: #6dfe3b;
    color: #111111;
}

.button--green:hover {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
        ),
        #6dfe3b;
}

.button--green:active {
    background: linear-gradient(
            0deg,
            rgba(43, 48, 62, 0.03),
            rgba(43, 48, 62, 0.03)
        ),
        #6dfe3b;
    outline: none;
}

.button--dark {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        ),
        #111111;
    color: #f2f2f2;
}

.button--dark:hover {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        ),
        #111111;
}

.button--dark:active {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.15)
        ),
        #111111;
    outline: none;
}
