.emblem 
    .emblem__lettering
        .emblem__absolute-lettering-container
            .js-embelem.emblem__relative-lettering-container #{"скидка·скидка·скидка·скидка·скидка·скидка·скидка·скидка·"}
    .emblem__text 10%
