.we-can {
    background-color: #2b303e;
}

.we-can__block {
    z-index: 1;
}

.we-can__team {
    padding-top: 130px;
    padding-bottom: 120px;
}

@media (max-width: 576px) {
    .we-can__team {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.we-can__team-title {
    max-width: 229px;
    color: #ffffff;
}

@media (max-width: 576px) {
    .we-can__team-title {
        max-width: unset;
    }
}

.we-can__team-description {
    margin-top: 40px;
    color: #ffffff;
    max-width: 240px;
}

@media (max-width: 576px) {
    .we-can__team-description {
        max-width: unset;
        margin-top: 24px;
    }
}

.we-can__team--mt-lg {
    margin-top: 48px;
}

@media (max-width: 576px) {
    .we-can__team--mt-lg {
        margin-top: 32px;
    }
}

.we-can__team-perks {
    padding-left: 64px;
    margin-top: -40px;
}

.we-can__team-perks > .col-auto {
    margin-top: 40px;
}

@media (max-width: 576px) {
    .we-can__team-perks {
        padding-left: 0px;
        margin-top: 24px;
    }
    .we-can__team-perks > .col-auto {
        margin-top: 24px;
    }
}

@media (max-width: 320px) {
    .we-can__team-perks {
        justify-content: center !important;
    }
}
