.we-can {
    background-color: #2b303e;
}

.we-can__block {
    z-index: 1;
}

.we-can__team {
    padding-top: 130px;
    padding-bottom: 120px;
}

@media (max-width: 576px) {
    .we-can__team {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.we-can__team-title {
    max-width: 229px;
    color: #ffffff;
}

@media (max-width: 576px) {
    .we-can__team-title {
        max-width: unset;
    }
}

.we-can__team-description {
    margin-top: 40px;
    color: #ffffff;
    max-width: 240px;
}

@media (max-width: 576px) {
    .we-can__team-description {
        max-width: unset;
        margin-top: 24px;
    }
}

.we-can__team--mt-lg {
    margin-top: 48px;
}

@media (max-width: 576px) {
    .we-can__team--mt-lg {
        margin-top: 32px;
    }
}

.we-can__team-perks {
    padding-left: 64px;
    margin-top: -40px;
}

.we-can__team-perks > .col-auto {
    margin-top: 40px;
}

@media (max-width: 576px) {
    .we-can__team-perks {
        padding-left: 0px;
        margin-top: 24px;
    }
    .we-can__team-perks > .col-auto {
        margin-top: 24px;
    }
}

@media (max-width: 320px) {
    .we-can__team-perks {
        justify-content: center !important;
    }
}

.we-can__goods {
    padding-top: 120px;
    padding-bottom: 96px;
}

@media (max-width: 576px) {
    .we-can__goods {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.we-can__goods-title {
    margin-left: 26px;
    max-width: 943px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 576px) {
    .we-can__goods-title {
        max-width: 100%;
        margin-left: 0px;
        margin-bottom: 24px;
    }
}

.we-can__goods-list > .col-auto {
    margin-top: 80px;
    margin-bottom: 24px;
}

@media (max-width: 576px) {
    .we-can__goods-list > .col-auto {
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

@media (max-width: 320px) {
    .we-can__goods-list {
        justify-content: center !important;
    }
}

.we-can__goods-list > .col-auto:nth-of-type(1) {
    padding-left: 38px;
}
.we-can__goods-list > .col-auto:nth-of-type(2) {
    padding-left: 10px;
}
.we-can__goods-list > .col-auto:nth-of-type(3) {
    padding-right: 8px;
}
.we-can__goods-list > .col-auto:nth-of-type(4) {
    padding-right: 20px;
}
.we-can__goods-list > .col-auto:nth-of-type(6) {
    padding-left: 38px;
}
.we-can__goods-list > .col-auto:nth-of-type(7) {
    padding-left: 4px;
}
.we-can__goods-list > .col-auto:nth-of-type(8) {
    padding-right: 4px;
}
.we-can__goods-list > .col-auto:nth-of-type(9) {
    padding-right: 24px;
}

@media (max-width: 1200px) {
    .we-can__goods-list > .col-auto:nth-of-type(1),
    .we-can__goods-list > .col-auto:nth-of-type(2),
    .we-can__goods-list > .col-auto:nth-of-type(3),
    .we-can__goods-list > .col-auto:nth-of-type(4),
    .we-can__goods-list > .col-auto:nth-of-type(6),
    .we-can__goods-list > .col-auto:nth-of-type(7),
    .we-can__goods-list > .col-auto:nth-of-type(8),
    .we-can__goods-list > .col-auto:nth-of-type(9) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.we-can__deliv {
    padding-top: 122px;
    padding-bottom: 120px;
}

.we-can__deliv-title {
    max-width: 740px;

    margin-left: 24px;

    text-align: center;
    color: #ffffff;

    white-space: pre-line;
}

.we-can__deliv-list {
    margin-top: 131px;
}
