include ../../card-numbered/card-numbered.pug
include ../../review/review.pug

article.why-we.main-block.row.no-gutters
    section.why-we__block.col-12
        .why-we__reasons
            .row.no-gutters.justify-content-center
                h1.why-we__reasons-title
                    | #{"Почему стоит обратиться \nв Oasis Logistics"}
            .why-we__reasons-list.row.no-gutters.justify-content-between
                .col-auto
                    +card-numbered({text: "Подберем оптимальный \nпо стоимости и срокам \nмаршрут", number: "01", variant: "md"})
                .col-auto
                    +card-numbered({text: "Зафиксируем ставку \nпо контракту, независимо \nот внешних факторов", number: "02", variant: "md"})
                .col-auto
                    +card-numbered({text: "Осуществим перевод денежных средств в Китай через свою компанию", number: "03", variant: "md"})
                .col-auto
                    +card-numbered({text: "Организуем вывоз товара \nот вашего поставщика", number: "04", variant: "md"})
                .col-auto
                    +card-numbered({text: "Подготовим документы \nдля таможенной очистки", number: "05", variant: "md"})
                .col-auto
                    +card-numbered({text: "Организуем доставку \nтовара по РФ", number: "06", variant: "md"})
    section.why-we__block.col-12
        .why-we__reviews
            .row.no-gutters.justify-content-center
                h1.why-we__reviews-title
                    | #{"Отзывы о работе с Oasis Logistics"}

            .why-we__map
                include ../../../public/map/map.svg

            .why-we__riview-row.row.no-gutters.justify-content-end
                .why-we__riview-container
                    +review({showMore: true, avatar: "avatar1.png", name: "Александра Гуриева", place: "ООО «А-А-А», г. Москва", text: "На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось, в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается."})
