include ../../card-numbered/card-numbered.pug
include ../../review/review.pug

article.why-we.main-block.row.no-gutters
    section.why-we__block.col-12
        .why-we__reasons
            .row.no-gutters.justify-content-center
                h1.why-we__reasons-title
                    | #{"Почему стоит обратиться \nв Oasis Logistics"}
            .why-we__reasons-list.row.no-gutters.justify-content-between
                .col-auto
                    +card-numbered({number: "01", variant: "md"})
                        | Подберем оптимальный
                        div
                        | по стоимости и срокам
                        div
                        | маршрут
                .col-auto
                    +card-numbered({number: "02", variant: "md"})
                        | Зафиксируем ставку
                        div
                        | по контракту, независимо
                        div
                        | от внешних факторов
                .col-auto
                    +card-numbered({number: "03", variant: "md"})
                        | Осуществим перевод денежных средств в Китай через свою компанию
                .col-auto
                    +card-numbered({number: "04", variant: "md"})
                        | Организуем вывоз товара
                        div
                        | от вашего поставщика
                .col-auto
                    +card-numbered({number: "05", variant: "md"})
                        | Подготовим документы
                        div
                        | для таможенной очистки
                .col-auto
                    +card-numbered({number: "06", variant: "md"})
                        | Организуем доставку
                        div
                        | товара по РФ
    section.why-we__block.col-12
        .why-we__reviews
            .row.no-gutters.justify-content-center
                h1.why-we__reviews-title
                    | #{"Отзывы о работе с Oasis Logistics"}

            .why-we__map
                include ../../../public/map/map.svg

            .why-we__riview-row.row.no-gutters.justify-content-center.justify-content-xl-end
                .why-we__review-container
                    .js-review-slider
                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: ""})
                                | #1 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.
                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#2 "})
                                | #2 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#3 "})
                                | #3 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#4 "})
                                | #4 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#5 "})
                                | #5 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#6 "})
                                | #6 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                                |
                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#7 "})
                                | #7 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#8 "})
                                | #8 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#9 "})
                                | #9 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#10 "})
                                | #10 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#11 "})
                                | #11 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#12 "})
                                | #12 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#13 "})
                                | #13 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

                        .col-auto.px-0
                            +review({showMore: true, avatar: "avatar1.png", name: "Александра \nГуриева", place: "ООО «А-А-А», г. Москва", text: "#14 "})
                                | #14 На самом деле наша поездка изначально была очень спонтанной и сложной, буквально накануне вылета из Москвы в Гонконг мы вышли на ребят, договорились о встрече и сопровождении нас по разным производствам в течение всего пребывания в Китае. Как оказалось,
                                | в первый же день знакомства, нам просто нереально повезло что складывается все именно так, как складывается.

    .why-we__blue-hor.fade-20
    .why-we__blue-left.fade-10
    .why-we__blue-right.fade-20
    .why-we__green-left.fade-15
    .why-we__violet-right.fade-10
