.delivery-type {
    min-width: 440px;
    max-width: 440px;
    min-height: 324px;

    padding: 82px 56px 40px 54px;

    background-color: transparent;
    border: 3px dotted rgb(255, 255, 255, 0.15);
    border-radius: 24px;
    color: #f2f2f2;
}

@media (max-width: 576px) {
    .delivery-type {
        min-width: unset;
        padding: 70px 40px 45px 40px;
    }
}

@media (max-width: 576px) {
    .delivery-type__text-block {
        margin-left: -2px;
    }
}

.delivery-type__descr {
    margin-top: 16px;
}

@media (max-width: 576px) {
    .delivery-type__title {
        font-family: 'TT Travels', Arial, sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .delivery-type__descr {
        white-space: pre-line;
    }
}

.delivery-type__icon-block {
    position: absolute;

    width: 104px;
    height: 104px;

    top: -52px;
    left: 56px;

    background: #ffffff;
    border-radius: 50%;
}

.delivery-type__icon {
    width: 48px;
    height: 48px;
}

@media (max-width: 576px) {
    .delivery-type__icon-block {
        width: 80px;
        height: 80px;

        top: -38px;
        left: 40px;
    }
    .delivery-type__icon {
        width: 40px;
        height: 40px;
    }
}

.delivery-type__sticker {
    margin-top: 21px;
    margin-left: -2px;

    width: 160px;
    height: 64px;

    background-image: url('/css/icons/sticker.png');
}

.delivery-type__sticker h5 {
    font-weight: 600;
}

@media (max-width: 576px) {
    .delivery-type__sticker h5 {
        font-size: 20px;
        line-height: 28px;
    }
}

.delivery-type__rotate-clockwise {
    transform: rotate(2.05deg);
}

.delivery-type__rotate-clockwise h5 {
    transform: rotate(-2.05deg);
}

.delivery-type__rotate-counterclockwise {
    transform: rotate(-4.29deg);
}

.delivery-type__rotate-counterclockwise h5 {
    transform: rotate(4.29deg);
}
