include ../../card-with-icon/card-with-icon.pug

article.about-us.main-block.row.no-gutters
    .about-us__content.col-12
        header.row.no-gutters.justify-content-center
            h1.about-us__title Всё для успешного бизнеса с Китаем

        section.about-us--cards-mt
            .row.no-gutters.about-us--spacing.justify-content-between
                .col-auto
                    +card-with-icon({icon: "box.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg Доставка грузов из Китая
                        h6.about-us--mt-sm Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.

                .col-auto
                    +card-with-icon({icon: "case.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg Таможенное оформление и сертификация грузов
                        h6.about-us--mt-sm Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.

                .col-auto
                    +card-with-icon({icon: "search.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg 
                            | Поиск поставщиков
                            .hideon-sm
                            | и товаров
                        h6.about-us--mt-sm Найдем необходимого поставщика товара в Китае и организуем поставку.

                .col-auto
                    +card-with-icon({icon: "placing.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg Размещение OEM/ODM производства в Китае
                        h6.about-us--mt-sm Мы способны найти фабрику, которая сможет разработать, произвести товар под вашим логотипом, по вашим формам и характеристикам.

                .col-auto
                    +card-with-icon({icon: "tao.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg Выкуп и доставка товаров с Taobao, Alibaba, 1688
                        h6.about-us--mt-sm Наша компания также осуществляет, выкуп и доставку с торговых площадок Китая.

                .col-auto
                    +card-with-icon({icon: "check.svg", margin: "sm", variant: "bordered"})
                        h4.about-us--letterspacing-lg Инспектирование фабрик и поставщиков товара
                        h6.about-us--mt-sm Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.
