.why-we__block {
    z-index: 1;
}
.why-we__reasons {
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-we__reasons-title {
    max-width: 759px;

    margin-left: 10px;
    margin-bottom: 40px;

    text-align: center;
}

.why-we__reasons-list .col-auto {
    margin-top: 72px;
}
