.why-we__block {
    z-index: 1;
}
.why-we__reasons {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width: 968px) {
    .why-we__reasons {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.why-we__reasons-title {
    max-width: 759px;

    margin-left: 10px;
    margin-bottom: 40px;

    text-align: center;
}

@media (max-width: 968px) {
    .why-we__reasons-title {
        margin-left: 0px;
        margin-bottom: 32px;
        white-space: pre-line;
    }
}

.why-we__reasons-list .col-auto {
    margin-top: 72px;
}

@media (max-width: 968px) {
    .why-we__reasons-list {
        justify-content: center !important;
    }
}

@media (max-width: 968px) {
    .why-we__reasons-list .col-auto {
        margin-top: 64px;
    }
}

.why-we__reviews {
    margin-top: 120px;
    margin-bottom: 120px;
}

.why-we__reviews-title {
    max-width: 508px;
    margin-left: 10px;
    text-align: center;
}

.why-we__map {
    position: absolute;
    top: 250px;
    left: -176px;
}

.why-we__riview-row {
    margin-top: 96px;
}

.why-we__riview-container {
    position: relative;
    min-height: 520px;
}
